.about {
  margin-bottom: 56px;
}

.about__content {
  display: flex;
}

.about__content::before {
  content: "";
  width: 490px;
  height: 505px;
  background: url(../../img/decor/cameraman.jpg) center center / cover no-repeat;
  display: block;
}

.about__desc {
  background: #FFFFFF;
  color: #060606;
  padding: 70px 203px 66px 81px;
  border-radius: 5px;
  max-width: 785px;
  margin-left: -137px;
  margin-top: 98px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.about__desc-title {
  color: #000;
  font-size: 36px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 37px;
}

.about__desc-text {
  margin-bottom: 42px;
  line-height: 1.7;
}

.about__desc-text p {
  margin-bottom: 8px;
  /* отступ от параграфа, если в тексте их будет несколько */
}

.about__desc-text p:last-child {
  margin-bottom: 0;
}