.breadcrumbs__list {
  display: flex;
  align-items: center;
}

.breadcrumbs__item {
  display: flex;
  padding-right: 3px;
}

.breadcrumbs__item--active .breadcrumbs__link {
  font-weight: 700;
  cursor: default;
}

.breadcrumbs__item:after {
  content: "/";
  padding-left: 3px;
  font-size: 14px;
  color: #9A9A9A;
}

.breadcrumbs__item:last-child::after {
  display: none;
}

.breadcrumbs__link {
  font-size: 14px;
  color: #9A9A9A;
}



