.button-wrapper {
  margin-top: auto;
  /* прижимает кнопку к низу контейнера */
}

.button {
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background: #FF5500;
  border-radius: 35px;
  padding: 18px 55px;
  transition: background .3s;
  display: inline-block;
  /* конвертирует инлайновый элемент в блочный */
}

.button:hover {
  background: #FF3D00;
}

.button--hover-secondary {
  border: 2px solid transparent;
  transition: .3s;
}

.button--hover-secondary:hover {
  color: #FF3D00;
  border-color: #FF5500;
  background: #fff;
}

.button--main {
  padding: 18px 40px;
}

.button--type-secondary {
  background: #fff;
  color: #FF5500;
  border: 2px solid #FF5500;
  padding: 16px 53px;
  transition: .3s;
}

.button--type-secondary:hover {
  color: #fff;
  background: #FF5500;
}

.button--form {
  width: 168px;
  padding: 19px 0px;
}

.button--form:first-child {
  margin-right: 12px;
}

.button--form:last-child {
  margin-right: 0;
}

.button--reset {
  background: #8E8E8E;
}

.button--reset:hover {
  background: #2B2B2B;
}
