.controls {
  font: 1px;
  display: flex;
  flex-wrap: wrap;
}

.controls__item {
  margin-right: 14px;
  margin-bottom: 10px;
}

.controls__item:last-child {
  margin-right: 0;
}

.controls__elem {
  cursor: pointer;  
}

.controls__checkbox {
  display: none;
}

.controls__checkbox:checked ~ .controls__tag {
  background: #F2D4C9;
}