.header {
  padding-top: 22px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.header__menu {
  margin-right: 7px;
  margin-top: 19px;
}

.header__contacts {
  margin-top: 5px;
}