.inner-section {
  color: #1A1B1E;
  background: #fff;
  padding: 87px 0 52px 0;
}

.inner-section--bg-grey {
  background: #F4F5F5;
}

.inner-section--reviews {
  padding-top: 79px;
}

.inner-section__title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 74px;
}

.inner-section__title--small {
  font-size: 36px;
  font-weight: 800;
  text-transform: uppercase;
  color: #202020;
  margin-bottom: 55px;
}
