.news {
  margin-bottom: 145px;
}

.news__main-title {
  font-size: 36px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.news__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.news__item {
  flex: 1;
  margin-right: 2%;
  min-height: 394px;
}

.news__item:last-child {
  margin-right: 0;
}