.offers {
  margin-bottom: 180px;
  min-height: 476px;
}

.offers__list {
  display: flex;
  justify-content: space-between;
}

.offers__item {
  width: calc(100% / 3 - 18px);
}

.offers__item:hover .offer {
  border-color: #CCCCCC;
}

.offers__item:hover .button--type-secondary {
  color: #fff;
  background: #FF5500;
}

.conditions-offers {
  width: 124px;
}