.offers {
  margin-bottom: 180px;
  min-height: 476px;
}

.offers__list {
  display: flex;
  justify-content: space-between;
}

.offers__item {
  width: calc(100% / 3 - 18px);
}

.conditions-offers {
  width: 124px;
}