.partners_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.partners__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 229px;
  min-height: 75px;
  margin-bottom: 53px;
}

.partners__item:nth-child(4n-3) {
  justify-content: flex-start;
}

.partners__link {
  text-decoration: none;
  filter: grayscale(100%);
  transition: .3s;
}

.partners__link:hover {
  filter: grayscale(0);
}