.single-news {
  position: relative;
  overflow: hidden;
}

.single-news__cover {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* блок, к которому применено это свойство,
  всегда будет целиком заполняь тот блок,
  в котором он находится и сам будет масштабировать нужный элемент */
}

.single-news__description {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 16px 30px;
  min-height: 158px;
}

.single-news__date {
  font-size: 14px;
  margin-bottom: 13px;
  display: block;
}

.single-news__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 7px;
}

.single-news___text p {
  margin-bottom: 6px;
}

.single-news___text p:last-child {
  margin-bottom: 0;
}