.socials {
  display: flex;
}

.socials__item {
  margin-right: 7%;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__item--icon-telegram .socials__link {
  background-image: url(../../img/icons/telegram.png);
}

.socials__item--icon-telegram .socials__link:hover {
  background-image: url(../../img/icons/telegram-h.png);
  transition: .3s;
}

.socials__item--icon-vk .socials__link {
  background-image: url(../../img/icons/vk.png);
}

.socials__item--icon-vk .socials__link:hover {
  background-image: url(../../img/icons/vk-h.png);
  transition: .3s;
}

.socials__item--icon-fb .socials__link {
  background-image: url(../../img/icons/facebook.png);
}

.socials__item--icon-fb .socials__link:hover {
  background-image: url(../../img/icons/facebook-h.png);
  transition: .3s;
}

.socials__item--icon-insta .socials__link {
  background-image: url(../../img/icons/instagram.png);
}

.socials__item--icon-insta .socials__link:hover {
  background-image: url(../../img/icons/instagram-h.png);
  transition: .3s;
}

.socials__link {
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
  background: center center no-repeat;
}