.tag {
  font-size: 13px;
  font-weight: normal;
  color: #303030;
  background: #E7E7E7;
  border-radius: 35px;
  text-align: center;
  padding: 12px 25px;
}

.tag--active {
  background: #F2D4C9;
}

.tag--controls-small {
  padding: 9px 14px;
}